<div class="col-md-3 mb-3 mt-1">
    <div class="card">
        <div class="card-body">
            <div class="h2">
                <!-- Имя автора -->
                <p><img src="/static/1530546770_rmk_vdjbx10.jpg" alt="111"></p>
                {{ author.get_full_name }}
            </div>
            <div class="h3 text-muted">
                <!-- username автора -->
                @{{ author.get_username }}
            </div>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="h6 text-muted">
                    Подписчиков: {{ author.following.count }}<br />
                    Подписан: {{ author.follower.count }}
                </div>
            </li>
            <li class="list-group-item">
                <div class="h6 text-muted">
                    <!--Количество записей -->
                    Записей: {{ posts_count }}
                </div>

                {% include "includes/follow_button.html" %}

            </li>
        </ul>
    </div>
