{% extends "base.html" %}

{% block title %}{% if post %}Редактировать запись{% else %}Добавить запись{% endif %}{% endblock %}

{% block header %}Заполните форму ниже для создание новой записи:{% endblock %}
{% block content %}

    <form method="post">
    {% csrf_token %}
        {% if form.errors %}
        <div class='alert alert-danger' role='alert'>
        {{form.errors}}
        </div>
        {% endif %}
    {{ form.as_p }}
        {% if post %}
    <input type="submit" value="Сохранить">
        {% else %}
        <input type="submit" value="Добавить">
        {% endif %}
    </form>


{% endblock %}